@media screen and (max-width:960px) and (min-width:500px){
   
    body{
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
       height: auto;
       width: auto;
    }
    
    header{
        font-size:13px;
         height: auto;
         margin-right: 0px;
         width:100%;
    }
    header div.contenu,div.logo {
        font-size:12px;
        height:auto;
        width: auto;
        display:flex;
    }
    header div.contenu h1{
        font-size:12px;
        height:auto;
        width: auto;
    }
    header div.contenu div.logo img{
        font-size:12px;
        height:15px;
        width:15px;
        margin:0%;
    }
    header div.context ul a li.bou {
        font-size:12px;
       height: 12px;
       width:none;
       padding: 12px;
       padding-right:none;
       margin:0px;
       display: flex; 
    }
    header div.context ul {
        padding:none;
        margin: 0%;  
    }
    header div.context{
        align-items: center;
        margin: 0px;
    }
    header div.context ul{
        padding:0px;
        margin: 0px;
        height: 13px;
    }
    header div.context ul a li img{
        width:13px;
        height:13px;
        margin: 0%;
        padding: 0%;
    }
    body div.Boite div.gauche div.image{
        display:none;
    }
    footer{
        font-size: 13px;
        height: auto;
        width: 100%;
        margin-right: 0px;
    }
    body div.corps div.beta img{
        width: 150px;
        height: 150px;
    }
    
body div.avis img{
    background: none;
    width: 100px;
    height:100px;
    padding:4px;
}
}