body header,div.corps{
    background:rgb(68, 103, 104);
    margin: 0%; 
}
body header div.contenu{
    display:flex;
   text-align: right;
}
body  div.contenu {
    height:43px;
}
body header div.logo img{
    padding-top: 4px;
    padding-right:3px;
    width: 49px;
}
body header div.context li.bou:hover{
    color:rgb(0, 0, 0);
    background: rgb(143, 160, 157);
    transition: 0.1s;
}
body header div.context{
    background: rgba(143, 164, 187, 0.37);
    height: 30px;
}
body header div.context ul a img{
    height: 20px;
    background:none;
}
body header div.context ul {
    text-align: right;
}
body header div.context ul a{
    color: black;
    text-align: left;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding-right:10px;  
}
header div.context ul li{
    font-size: 25px;  
}
body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin:0px;
    background:rgb(185, 192, 190);
}
body div.BOITE{
    display:flex;
    padding-top: 0%;
}
body div.gauche{
    background: rgba(143, 164, 187, 0.37) ;
    padding:20px;
    width: 50%;
}
body div.gauche div.image img{
    width:100px;
    
    display: inline-block;

}
body div.gauche div.image div.dedans ul{
    margin-left:-35px;
}
body div.gauche div.image div.dedans ul a img{
    width: 20px;
}
body div.BOITE div.gauche div.image ul a{
    color: rgb(15, 35, 44);
    text-decoration: none;
}
body div.BOITE div.gauche div.image ul a:hover{  
    color: rgb(109, 109, 109);
    background:none;
    padding: 5px;
    transition: 0.1s all;
}
body div.BOITE div.gauche ul li {
    list-style-type: none;
} 
body div.droite{
    padding: 20px;
    width: 50%;
    float: right;
    } 
body div.BOITE div.droite a:hover{
    padding: 3px;
    color:blue;
}
body div.droite div.b_bas{
        background: rgba(119, 152, 153, 0.904);  
}
 body div.droite div.video iframe{
     width:100%;
 }
 body div.droite div.video div.forme{
     display: flex;
 }
 body div.droite div.video div.log_vid img{
    width: 20px;
 }
 
body footer{
    background:rgb(68, 103, 104);
    text-align:left;
    padding:2px;
    padding-bottom:2px;
     }
/* Autre page */ 
body div.corps{
    display: flex;
    background: none;
}
body div.corps div.beta  img{
    margin-top: 20px;
}
body div.corps div.beta img{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border-style: groove;
}
body div.corps div.gamma{
    background: rgba(143, 164, 187, 0.37) ;
    margin-top: 20px;
    border: 2px;
}
body div.teta {
    margin-top:12px;
    border: 2px;
    background:cornflowerblue;
}
body div.avis div.omega {
    width: auto;
    margin-top:2px;
    border: 2px;
    background: darkcyan;
}
body div.omega form.input{
    text-align: left;
    margin:5px;
}
body div.avis{
    text-align: center;
    width: auto;
    height: auto;
    padding-top:4px;
}
    
body div.avis img{
    padding-top:-5px;
}

body div.corps h3 {
    text-decoration: underline;
    border: 2px;
} 
body div.teta{
    background: rgba(143, 164, 187, 0.37) ;
}
body div.teta div.teta1{
    display: flex;
}
body div.teta div.teta2{
    display: flex;
}

body div.teta div.teta3{
    display: flex;
}

body div.teta div.teta4{
    text-align: center;
}
body div.teta div.teta1,div.teta2,div.teta3,div.teta4{
    border-bottom:groove;
}
body div.teta div.teta1 img{
    margin-right:6px;
    height:100px;
    width:100px;
}
body div.teta div.teta2 img{
    margin-right:6px;
    height:100px;
    width:100px;
}
body div.teta div.teta3 img{
    height:100px;
    width:100px;
}
body div.teta div.teta4 img{
    height:100px;
    width:100px;
}


